@using GoodianoBlog.Application.Services.Posts.Query.ClientSide.Posts.GetPostForEdit
@model GetPostForEditDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<head>
    <meta charset="utf-8">
    <script src="~/AdminTemplate/app-assets/tinymce/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.tiny.cloud/1/zqv1oouitrk5c8grv4dd2q3dcvtdxseayjqj7by8d190hdp0/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
          tinymce.init({
               selector: '#mytextarea',
                 plugins: 'image autolink lists media table ',
        toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        image_caption: true,
            autosave_interval: '30s',
            image_title: true,
            paste_data_images: true,
            automatic_uploads: true,
            images_upload_url : 'uploadImg',
            file_picker_types: 'image',                        
            file_picker_callback: function (cb, value, meta) {
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');

                input.onchange = function () {
                    var file = this.files[0];

                    var reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = function () {
                        var id = 'blobid' + (new Date()).getTime();
                        var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                        var base64 = reader.result.split(',')[1];
                        var blobInfo = blobCache.create(id, file, base64);
                        blobCache.add(blobInfo);
                        cb(blobInfo.blobUri(), { title: file.name });
                    };
                };
                input.click();
            }
});
    </script>
</head>
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="px-3">
                <form asp-controller="Post" asp-action="Add" class="form" method="post" enctype="multipart/form-data">
                    <div class="form-body">
                        <h4 class="form-section">
                            <i class="icon-pencil"></i>ساخت مقاله
                        </h4>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="hidden" id="ID" class="form-control" name="ID" value="@Model.Id">
                                    <label for="title">تیتر</label>
                                    <input type="text" id="title" class="form-control" name="title" value="@Model.Title">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="author">نویسنده</label>
                                    <select id="author" class="form-control" asp-items=@ViewBag.Authors></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="timing">زمان برای مطالعه</label>
                                    <input type="text" id="timing" class="form-control" name="timing" value="@Model.Time">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="category">دسته بندی</label>
                                    <select id="category" class="form-control" asp-items=@ViewBag.Categories></select>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="category">تگ</label>
                                    <select id="tag" class="form-control" asp-items=@ViewBag.Tag></select>

                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                            <fieldset class="form-group">
                                <label for="basicInput">تصویر اصلی </label>
                                <input type="file" class="form-control" name="MainSlideSrc" accept="image/*" id="MainSlideSrc">
                            </fieldset>
                        </div>


                        @*<div class="form-group">
                            <label>تصاویر میان متن</label>
                            <input type="file" class="form-control-file" id="singlePhoto" multiple>
                            </div>

                            <div class="form-group">
                            <label>می توانید از این قسمت گالری عکس خود را انتخاب کنید</label>
                            <input type="file" class="form-control-file" id="imageGallery" multiple>
                            </div>*@


                        <textarea asp-for=Content id="mytextarea" placeholder="متن"></textarea>

                        <div class="form-actions">
                            <a class="btn btn-danger mr-1">
                                <i class="icon-trash"></i> لغو
                            </a>

                            <a id="btnEditPost" class="btn btn-success mr-1">
                                <i class="icon-note"></i> ذخیره
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts
{

<link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/Sweetalert2/sweetalert2.min.js"></script>


<script>
        $('#btnEditPost').on('click', function () {

            var data = new FormData();

            //دریافت مقادیر از تکس باکس ها و....
            data.append("Id", $("#ID").val());
            data.append("Title", $("#title").val());
            data.append("Time", $("#timing").val());
            data.append("AuthorId", $('#author').find('option:selected').val());
            data.append("PostCategoryId", $('#category').find('option:selected').val());
            data.append("TagId", $('#tag').find('option:selected').val());
            var myContent = tinymce.get("mytextarea").getContent();
            data.append("Content",myContent);

            var postMainImage = document.getElementById("MainSlideSrc");

                if (postMainImage.files.length > 0) {
                    for (var i = 0; i < postMainImage.files.length; i++) {
                        data.append('FirstSlideSrc-' + i, postMainImage.files[i]);
                    }
                }

        

            // ارسال اطلاعات بع کنترلر
            var ajaxRequest = $.ajax({
                type: "POST",
                url: "Edit",
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {

                    if (data.isSuccess == true) {

                        swal.fire(
                            'موفق!',
                            data.message,
                            'success'
                        ).then(function (isConfirm) {
                            window.location.href = "/Admin/Post/Index";

                        });
                    }
                    else {

                        swal.fire(
                            'هشدار!',
                            data.message,
                            'warning'
                        );
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }

            });

            ajaxRequest.done(function (xhr, textStatus) {
                // Do other operation
            });
        });






</script>

}

