@{
    ViewData["Title"] = "ثبت دسته بندی جدید";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="px-3">
                <form method="post" class="form">
                    <div class="form-body">
                        <h4 class="form-section">
                            <i class="icon-user"></i> ثبت دسته بندی
                        </h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <fieldset class="form-group">
                                        <input type="hidden" id="parentId" value="@ViewBag.parentId" />
                                        <label for="basicInput">نام دسته بندی</label>
                                        <input type="text" class="form-control" id="Name">
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <a class="btn btn-danger mr-1">
                            <i class="icon-trash"></i> لغو
                        </a>
                        <a onclick="AddNewCategory()" class="btn btn-success">
                            <i class="icon-note"></i> ذخیره دسته بندی
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts
{

<link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/Sweetalert2/sweetalert2.min.js"></script>


<script>
    function AddNewCategory() {
        swal.fire({
            title: 'دسته بندی جدید',
            text: "آیا میخواهید دسته بندی جدید به لیست دسته بندی ها اضافه شود؟",
            icon: 'info',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'بله، اضافه شود',
            cancelButtonText: 'خیر'
        }).then((result) => {
            if (result.value) {

                var Name = $("#Name").val();
                var parentId = $("#parentId").val();


                var postData = {
                    'name': Name,
                    'parentId': parentId,
                };

                $.ajax({
                    contentType: 'application/x-www-form-urlencoded',
                    dataType: 'json',
                    type: "POST",
                    url: "AddCategory",
                    data: postData,
                    success: function (data) {
                        if (data.isSuccess == true) {
                            swal.fire(
                                'موفق!',
                                data.message,
                                'success'
                            ).then(function (isConfirm) {
                                location.reload();
                            });


                        }
                        else {

                            swal.fire(
                                'هشدار!',
                                data.message,
                                'warning'
                            );

                        }
                    },
                    error: function (request, status, error) {
                        swal.fire(
                            'هشدار!',
                            request.responseText,
                            'warning'
                        );
                    }

                });

            }
        })
    }
</script>
}